.profile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.profile-overlay.active {
    visibility: visible;
    opacity: 1;
}

.profile-container {
    width: 350px;
    background-color: #2b2b3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    z-index: 1001;
}

.profile-overlay.active .profile-container {
    transform: scale(1);
}

.profile-header {
    text-align: center;
}

.profile-header h1 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.profile-header p {
    margin: 0;
    font-size: 14px;
    color: #bbb;
}

.buttons-profile {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.buttons-profile button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.view-profile {
    background-color: #7a5cf0;
}

.share-profile {
    background-color: #3a3a50;
}

.ul-profile {
    list-style: none;
    padding: 0;
}

.ul-profile .li-profile {
    padding: 10px;
    margin: 5px 0;
    background-color: #3a3a50;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ul-profile li:hover {
    background-color: #4a4a64;
}

.close-button-profile {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.stats {
    display: flex;
}

.stats div img {
    width: 50px;
}

.profile-delete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.profile-delete-overlay.active {
    visibility: visible;
    opacity: 1;
}

.profile-delete-container {
    width: 350px;
    background-color: #2b2b3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    z-index: 1001;
}

.profile-delete-overlay.active .profile-delete-container {
    transform: scale(1);
}

.profile-delete-header {
    text-align: center;
}

.profile-delete-header h1 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.profile-delete-header p {
    margin: 0;
    font-size: 14px;
    color: #bbb;
}

.buttons-profile-delete {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.buttons-profile-delete button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

.close-button-profile-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}